<!--<div class="jumbotron">
    <h2 class="text-center">{{name}}</h2>
</div>-->


<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="panel-body">
                <div class="content">
                    <button type="button" class="btn btn-danger" routerLink="/addproduct" routerLinkActive="active">
                                             Add Product
                                              </button>

                    <button type="button" class="btn btn-info buttog" (click)="toggle()">
                                             Change View
                                              </button>
                </div>

                <div *ngIf="!isToggle">
                    <div class="table-responsive text-center">

                        <table class="table table-hover table-striped table-bordered">

                            <thead>
                                <tr>
                                    <th class=" text-center">Product Id</th>
                                    <th class=" text-center">Name</th>
                                    <th class=" text-center">Price</th>
                                    <th class=" text-center">Options</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let Product of prodArray| filterByName: term " [class.selected]="Product === selectedProd">
                                    <td>{{Product.id}}</td>
                                    <td>{{Product.name}} </td>
                                    <td>{{Product.price}}</td>
                                    <td>
                                        <button class="btn btn-info btn-sm " [routerLink]="['/showdetail',Product.id]">
                        <span class="glyphicon glyphicon-list-alt"></span> Detail</button>

                                        <button class="btn btn-warning btn-sm " [routerLink]="['/detail',Product.id]">
                        <span class="glyphicon glyphicon-pencil"></span></button>
                                        <button class="btn btn-danger btn-sm " (click)="delete(Product)">
                        <span class="glyphicon glyphicon-trash"></span></button>
                                        <button class="btn btn-success btn-sm " (click)="addToCart(Product)">
                                <span class="glyphicon glyphicon-shopping-cart"></span>Add To Cart</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="well" *ngIf="selectedProd">
            <h2>
                {{selectedProd.name | uppercase}} is my hero
            </h2>
            <button (click)="gotoDetail()">View Details</button>
        </div>
    </div>

    <div *ngIf="isToggle">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-sm-6 col-md-3 card-outline" *ngFor="let product of prodArray">
                    <div class="card mb-4 text-center">
                        <div class="card-block">
                            <div class="col-sm-9 prod-info">
                                <h4 class="card-name">{{product.name}}</h4>
                                <p class="card-text">Product ID: {{product.id}}</p>
                                <span>Rs. {{product.price}}</span>
                            </div>
                            <div class="col-sm-3 options">
                                <button class="btn btn-info btn-sm " [routerLink]="['/showdetail',product.id]">
                                    <span class="glyphicon glyphicon-list-alt"></span></button>


                                <button class="btn btn-danger btn-sm " (click)="delete(product)">
                                    <span class="glyphicon glyphicon-trash"></span></button>
                                <button class="btn btn-success btn-sm " (click)="addToCart(product)">
                                            <span class="glyphicon glyphicon-shopping-cart"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>